#section-contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;}

#body-contacto{
    background-image: url(../assets/img/4865761.jpg);
}